
<%- include("navbar.ejs") %>
<header>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
</header>
<div class="container mt-5">
    <h1>Create a New Blog Post</h1>
    <form action="/admin/blog_titale" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="blog_title" class="form-label">Blog Title:</label>
            <input type="text" class="form-control" id="blog_title" name="blog_title" required>
        </div>
        <div class="mb-3">
            <label for="blog_details" class="form-label">Blog Details:</label>
            <textarea class="form-control" id="blog_details" name="blog_details" rows="5" required></textarea>
        </div>
        <div class="mb-3">
            <label for="blog_image" class="form-label">Blog Image:</label>
            <input class="form-control" type="file" id="blog_image" name="blog_image">
        </div>
        <div class="mb-3">
            <label for="blog_post_by" class="form-label">Blog date:</label>
            <input type="date" class="form-control" id="blog_post_by" name="blog_date" required>
        </div>
        <div class="mb-3">
            <label for="blog_post_by" class="form-label">Posted By:</label>
            <input type="text" class="form-control" id="blog_post_by" name="blog_post_by" required>
        </div>
        <button  class="btn btn-primary">Create Blog Post</button>
    </form>

    <table class="table table-bordered" width="100%">
        <thead class="table-dark">
            <tr>
                <th>action</th>
                <th>se.no</th>
                <th>Blog Title</th>
                <th>Blog Details</th>
                <th>Blog Image</th>
                <th>Blog Date</th>
                <th>Posted By</th>
            </tr>
        </thead>
        <tbody>
            <% sr=1; for(let i of data) { %> 
                <tr>
                    <td>
                        <a href="/admin/dele/<%-i.blog_id%>" onclick="return confirmDelete()">
                            <button class="text-danger">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </a>
                        <a href="/admin/edite_from/<%-i.blog_id%>">
                            <button class="text-warning">
                                <i class="fa-solid fa-pencil"></i>
                            </button>
                        </a>
                    </td>
                    <td><%-sr++%></td>
                    <td><%-i.blog_title%></td>
                    <td><%-i.blog_details%></td>
                    <td><img src="/uploads/<%=i.blog_image%>" width="100px"></td>
                    <td><%-i.blog_date%></td>
                    <td><%-i.blog_post_by%></td>
                </tr>
               
            <% } %>
        </tbody>
    </table>
    <script>
        function confirmDelete() {
            return confirm('Are you sure you want to delete this item?');
        }
    </script>
    
<%- include("footer.ejs") %>


<!--
blog_title
blog_details
blog_image
blog_date
blog_post_by-->