<%- include("navbar.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Members Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2>Team Member Form</h2>
        <form action="/admin/submit-team-member" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="team_image">Team Image:</label>
                <input type="file" class="form-control" id="team_image" name="team_image" required>
            </div>
            <div class="form-group">
                <label for="team_name">Team Name:</label>
                <input type="text" class="form-control" id="team_name" name="team_name" placeholder="Enter team member's name" required>
            </div>
            <div class="form-group">
                <label for="team_position">Team Position:</label>
                <input type="text" class="form-control" id="team_position" name="team_position" placeholder="Enter team member's position" required>
            </div>
            <div class="form-group">
                <label for="team_fb_link">Facebook Link:</label>
                <input type="url" class="form-control" id="team_fb_link" name="team_fb_link" placeholder="Enter Facebook profile link">
            </div>
            <div class="form-group">
                <label for="team_insta_link">Instagram Link:</label>
                <input type="url" class="form-control" id="team_insta_link" name="team_insta_link" placeholder="Enter Instagram profile link">
            </div>
            <div class="form-group">
                <label for="team_twitter_link">Twitter Link:</label>
                <input type="url" class="form-control" id="team_twitter_link" name="team_twitter_link" placeholder="Enter Twitter profile link">
            </div>
            <div class="form-group">
                <label for="team_linkedin_link">LinkedIn Link:</label>
                <input type="url" class="form-control" id="team_linkedin_link" name="team_linkedin_link" placeholder="Enter LinkedIn profile link">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

<div class="table-responsive mt-4">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>action</th>
                <th>sr.no</th>
                <th>Tean image</th>
                <th>Team Name</th>
                <th>Team Position</th>
                <th>Facebook Link</th>
                <th>Instagram Link</th>
                <th>Twitter Link</th>
                <th>LinkedIn Link</th>
            </tr>
        </thead>
        <tbody>
            <% sr=1; for(let i of old_data) { %>
                <tr>
                    <td>
                        <a href="/admin/team_delete/<%-i.team_member_id%>" onclick="return confirmDelete()">
                            <button class="text-danger">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </a>
                        <a href="/admin/team_update/<%-i.team_member_id%>">
                            <button class="text-warning">
                                <i class="fa-solid fa-pencil"></i>
                            </button>
                        </a>
                    </td>
                    <th><%-sr++%></th>
                    <td><img src="/uploads/<%-i.team_image%>" width="100px"></td>
                    <td><%- i.team_name %></td>
                    <td><%- i.team_position %></td>
                    <td><%- i.team_fb_link %></a></td>
                    <td><%- i.team_insta_link %></a></td>
                    <td><%- i.team_twitter_link %></a></td>
                    <td><%- i.team_linkedin_link %></a></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>
<script>
    function confirmDelete() {
        return confirm('Are you sure you want to delete this item?');
    }
</script>

<%- include("footer.ejs") %>